@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');
// color variables
$moderate-violet: hsl(263, 55%, 52%);
$very-dark-grayish-blue: hsl(217, 19%, 35%);
$very-dark-blackish-blue: hsl(219, 29%, 14%);
$white: hsl(0, 0%, 100%);
//### Neutral

$light-gray: hsl(0, 0%, 81%);
$light-grayish-blue: hsl(210, 46%, 95%);
@mixin crad-white-font{
    color: $white;
    p{
        opacity: .6;
       
    }
    .verified{
        opacity: .5;
    }
}

body {
    font-family: "Barlow Semi Condensed", sans-serif;
   
    background-color: $light-grayish-blue;
    margin: 0;
   
 
    
    
  }
  main{
    min-height: 100vh;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
  }

  h1 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 16px;
}
h2{
    font-size: 14px;
    font-weight: 600;
    
}
p {
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
  }
img{
    border-radius:50%;
    border: 3px solid white;
    width: 30px;
    height: 30px;
}


.container{
    max-width: 90vw;
    
 
    
    display: grid;
    gap: 3%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2,1fr);
    grid-template-areas: "daniel daniel jonathan kira"
                         "jeanette patrick patrick kira" ;
}
.card{
    padding: 3% 7%;
    border-radius: 10px;
  
} 
.intro{
    display: flex;
    align-items: center;
    p{
        margin: 0 0 0 15px;
        line-height: 20px;
        font-size:15px;
        font-weight: 600;
       
        
    }
    h2{
        margin: 5px 0;
        margin-left: 15px;
    }
    
}
 .daniel{
    grid-area: daniel;
    background-color: $moderate-violet;
    position: relative;
    z-index: 17;
    
    @include crad-white-font;

 }
.jonathan{
 grid-area: jonathan;
 background-color: $very-dark-grayish-blue;
 @include crad-white-font;
}
.kira{
   grid-area: kira;
   background-color: $white;
   color:$very-dark-blackish-blue;
   p{
       color: $very-dark-blackish-blue;
   }
    
}

.jeanette{
   grid-area: jeanette;
   background-color: $white;
   color: $very-dark-blackish-blue;
   p{
    color: $very-dark-blackish-blue;
}
}
.patrick{
    grid-area: patrick;
    background-color: $very-dark-blackish-blue;
    @include crad-white-font;
}
svg{
    position: absolute;
    right: 10%;
    top: 10%;
    opacity: .5;
    z-index: -5;

}

    

@media(max-width: 840px){
    .container{
        grid-template-columns: 1fr;
        grid-template-areas: "daniel" "jonathan" 'jeanette' "patrick" 'kira' ;
    }
}
